In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\DSBDAL\Ex2 acadmic performance\AcademicPerformance.csv")

In [4]:
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  Year_Birth  math score reading score  \
0                      none        1970        72.0            72
1                 completed        1961         NaN            na
2                      none        1958        90.0            95
3                      none        1967         NaN           NaN
4                      none        1989        76.0            78
..                      ...         ...         ...           ...
995               completed        1972        88.0            99
996                    none        1972        62.0            55
997               completed        1972        59.0            71
998               completed        1972        68.0            78
999                    none        1972        77.0            86

    writing score Dt_Admission College_Fees
0              74      6/16/14   $84,835.00
1               A      6/15/14   $57,091.00
2              93      5/13/14   $67,267.00
3              44   05-11-2014   $32,474.00
4              75   04-08-2014   $21,474.00
..            ...          ...          ...
995            95      8/24/12   $57,107.00
996            55      8/17/12   $76,467.00
997            65      5/27/14   $76,467.01
998            77      2/23/14   $51,315.00
999            86   01-10-2014   $43,602.00

[1000 rows x 11 columns]

In [5]:
print(df['math score'])

0      72.0
1       NaN
2      90.0
3       NaN
4      76.0
       ...
995    88.0
996    62.0
997    59.0
998    68.0
999    77.0
Name: math score, Length: 1000, dtype: float64

In [6]:
print(df['math score'].isnull())

0      False
1       True
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

In [7]:
print(df['reading score'])

0       72
1       na
2       95
3      NaN
4       78
      ...
995     99
996     55
997     71
998     78
999     86
Name: reading score, Length: 1000, dtype: object

In [8]:
print(df['reading score'].isnull())

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: reading score, Length: 1000, dtype: bool

In [9]:
missing_values = ["n/a", "na", "--"]
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\DSBDAL\Ex2 acadmic performance\AcademicPerformance.csv", na_values = missing_values)

In [10]:
print(df['reading score'])

0      72.0
1       NaN
2      95.0
3       NaN
4      78.0
       ...
995    99.0
996    55.0
997    71.0
998    78.0
999    86.0
Name: reading score, Length: 1000, dtype: float64

In [11]:
print(df['reading score'].isnull())

0      False
1       True
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: reading score, Length: 1000, dtype: bool

In [12]:
dataset = [11,41,20,3,101,55,68,97,99,6]

In [13]:
sorted(dataset)

[3, 6, 11, 20, 41, 55, 68, 97, 99, 101]

In [14]:
quantile1, quantile3 = np.percentile(dataset, [25,75])

In [15]:
print(quantile1, quantile3)

13.25 89.75

In [16]:
iqr_value = (quantile3 - quantile1)

In [17]:
print(iqr_value)

76.5

In [18]:
lower_bound_value = quantile1 - (1.5*iqr_value)

In [19]:
upper_bound_value = quantile3 + (1.5*iqr_value)

In [20]:
print(lower_bound_value, upper_bound_value)

-101.5 204.5

In [21]:
from datetime import date
df['age'] = date.today().year - df['Year_Birth']

In [22]:
df['Year'] = pd.DatetimeIndex(df['Dt_Admission']).year
df['E_L'] = date.today().year - df['Year']

In [23]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,Year_Birth,math score,reading score,writing score,Dt_Admission,College_Fees,age,Year,E_L
0,female,group B,bachelor's degree,standard,none,1970,72.0,72.0,74,6/16/14,"$84,835.00",54,2014,10
1,female,group C,some college,standard,completed,1961,NaN,NaN,A,6/15/14,"$57,091.00",63,2014,10
2,female,group B,master's degree,standard,none,1958,90.0,95.0,93,5/13/14,"$67,267.00",66,2014,10
3,male,group A,associate's degree,free/reduced,none,1967,NaN,NaN,44,05-11-2014,"$32,474.00",57,2014,10
4,male,group C,some college,standard,none,1989,76.0,78.0,75,04-08-2014,"$21,474.00",35,2014,10

In [24]:
df['Fees$'] = df['College_Fees'].str.replace(',', '').str.replace('$', '').str.replace('.', '').fillna(0).astype(int)
df['Fees_M$'] = df['Fees$'].apply(lambda X:round(X/1000000))

In [25]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,Year_Birth,math score,reading score,writing score,Dt_Admission,College_Fees,age,Year,E_L,Fees$,Fees_M$
0,female,group B,bachelor's degree,standard,none,1970,72.0,72.0,74,6/16/14,"$84,835.00",54,2014,10,8483500,8
1,female,group C,some college,standard,completed,1961,NaN,NaN,A,6/15/14,"$57,091.00",63,2014,10,5709100,6
2,female,group B,master's degree,standard,none,1958,90.0,95.0,93,5/13/14,"$67,267.00",66,2014,10,6726700,7
3,male,group A,associate's degree,free/reduced,none,1967,NaN,NaN,44,05-11-2014,"$32,474.00",57,2014,10,3247400,3
4,male,group C,some college,standard,none,1989,76.0,78.0,75,04-08-2014,"$21,474.00",35,2014,10,2147400,2

In [26]:
"""
Sure, let's break down the code step by step:

1. **Importing Libraries:**
   - The code first imports necessary libraries: `numpy`, `matplotlib.pyplot`, and `pandas`.

2. **Loading the Dataset:**
   - It reads a CSV file named "AcademicPerformance.csv" using `pd.read_csv()` from `pandas` and stores it in a DataFrame called `df`.

3. **Handling Missing Values:**
   - It prints the "math score" column to inspect its values.
   - Then, it checks for missing values in the "math score" column using `df['math score'].isnull()`.

4. **Dealing with Non-numeric Values:**
   - Next, it prints the "reading score" column to check for non-numeric values.
   - It checks for missing values in the "reading score" column using `df['reading score'].isnull()`.

5. **Handling Additional Non-numeric Values:**
   - The code defines a list called `missing_values` containing strings that indicate missing values.
   - It reloads the dataset from the CSV file while specifying `na_values = missing_values` to replace these strings with actual NaN values.

6. **Descriptive Statistics and Outlier Detection:**
   - It calculates the first and third quartiles, interquartile range (IQR), and defines lower and upper bounds for outlier detection based on the "math score" column.

7. **Calculating Age and Academic Year:**
   - It calculates the age of each student based on the "Year_Birth" column.
   - It extracts the year from the "Dt_Admission" column to get the year of admission.
   - It calculates the number of academic years by subtracting the admission year from the current year.
   - These calculations are added as new columns in the DataFrame (`'age'`, `'Year'`, and `'E_L'`).

8. **Extracting Numeric Information from Strings:**
   - It creates a new column `'Fees$'` by extracting numeric information from the "College_Fees" column, removing commas and dollar signs, and converting the result to integers.
   - It creates another column `'Fees_M$'` by rounding the fees to millions.

This code performs various data preprocessing tasks such as handling missing values, dealing with non-numeric values, calculating descriptive statistics, detecting outliers, extracting useful information from strings, and adding new columns based on calculations.

Data wrangling, also known as data munging or data preprocessing, refers to the process of cleaning, transforming, and enriching raw data into a format that is suitable for analysis or modeling. This process is crucial because real-world data is often messy, incomplete, or inconsistent, and it needs to be prepared before it can be effectively used for analysis or machine learning tasks. Here's an overview of the steps involved in data wrangling:

Data Collection: Obtain raw data from various sources such as databases, APIs, CSV files, or web scraping.
Data Cleaning:
Handle missing values: Identify missing data and decide how to handle them (e.g., imputation, deletion).
Remove duplicates: Identify and remove duplicate rows or records from the dataset.
Correct inaccuracies: Detect and correct errors or inaccuracies in the data.
Standardize data: Convert data into a consistent format (e.g., date formatting, unit conversion).
Data Transformation:
Feature engineering: Create new features or derive additional information from existing features to enhance the predictive power of the dataset.
Encoding categorical variables: Convert categorical variables into a numerical format suitable for machine learning algorithms (e.g., one-hot encoding, label encoding).
Scaling and normalization: Scale numerical features to ensure they have similar ranges or normalize them to a standard distribution.
Data aggregation: Aggregate data at different levels (e.g., group by, pivot tables) to generate summary statistics or create new datasets.
Data Integration: Combine data from multiple sources or datasets to create a unified dataset for analysis.
Data Reduction: Reduce the dimensionality of the dataset by selecting relevant features or applying dimensionality reduction techniques (e.g., PCA) to improve computational efficiency or remove noise.
Data Formatting: Format the data in a way that is suitable for specific analysis or modeling tasks, such as reshaping data into long or wide formats or converting data types.
Data Enrichment: Enhance the dataset by incorporating additional external data sources or appending supplementary information to enrich the analysis.
Data Validation: Validate the integrity and quality of the processed data to ensure that it meets the desired standards and is ready for analysis or modeling.
"""

'\nSure, let\'s break down the code step by step:\n\n1. **Importing Libraries:**\n   - The code first imports necessary libraries: `numpy`, `matplotlib.pyplot`, and `pandas`.\n\n2. **Loading the Dataset:**\n   - It reads a CSV file named "AcademicPerformance.csv" using `pd.read_csv()` from `pandas` and stores it in a DataFrame called `df`.\n\n3. **Handling Missing Values:**\n   - It prints the "math score" column to inspect its values.\n   - Then, it checks for missing values in the "math score" column using `df[\'math score\'].isnull()`.\n\n4. **Dealing with Non-numeric Values:**\n   - Next, it prints the "reading score" column to check for non-numeric values.\n   - It checks for missing values in the "reading score" column using `df[\'reading score\'].isnull()`.\n\n5. **Handling Additional Non-numeric Values:**\n   - The code defines a list called `missing_values` containing strings that indicate missing values.\n   - It reloads the dataset from the CSV file while specifying `na_values = missing_values` to replace these strings with actual NaN values.\n\n6. **Descriptive Statistics and Outlier Detection:**\n   - It calculates the first and third quartiles, interquartile range (IQR), and defines lower and upper bounds for outlier detection based on the "math score" column.\n\n7. **Calculating Age and Academic Year:**\n   - It calculates the age of each student based on the "Year_Birth" column.\n   - It extracts the year from the "Dt_Admission" column to get the year of admission.\n   - It calculates the number of academic years by subtracting the admission year from the current year.\n   - These calculations are added as new columns in the DataFrame (`\'age\'`, `\'Year\'`, and `\'E_L\'`).\n\n8. **Extracting Numeric Information from Strings:**\n   - It creates a new column `\'Fees$\'` by extracting numeric information from the "College_Fees" column, removing commas and dollar signs, and converting the result to integers.\n   - It creates another column `\'Fees_M$\'` by rounding the fees to millions.\n\nThis code performs various data preprocessing tasks such as handling missing values, dealing with non-numeric values, calculating descriptive statistics, detecting outliers, extracting useful information from strings, and adding new columns based on calculations.\n\nData wrangling, also known as data munging or data preprocessing, refers to the process of cleaning, transforming, and enriching raw data into a format that is suitable for analysis or modeling. This process is crucial because real-world data is often messy, incomplete, or inconsistent, and it needs to be prepared before it can be effectively used for analysis or machine learning tasks. Here\'s an overview of the steps involved in data wrangling:\n\nData Collection: Obtain raw data from various sources such as databases, APIs, CSV files, or web scraping.\nData Cleaning:\nHandle missing values: Identify missing data and decide how to handle them (e.g., imputation, deletion).\nRemove duplicates: Identify and remove duplicate rows or records from the dataset.\nCorrect inaccuracies: Detect and correct errors or inaccuracies in the data.\nStandardize data: Convert data into a consistent format (e.g., date formatting, unit conversion).\nData Transformation:\nFeature engineering: Create new features or derive additional information from existing features to enhance the predictive power of the dataset.\nEncoding categorical variables: Convert categorical variables into a numerical format suitable for machine learning algorithms (e.g., one-hot encoding, label encoding).\nScaling and normalization: Scale numerical features to ensure they have similar ranges or normalize them to a standard distribution.\nData aggregation: Aggregate data at different levels (e.g., group by, pivot tables) to generate summary statistics or create new datasets.\nData Integration: Combine data from multiple sources or datasets to create a unified dataset for analysis.\nData Reduction: Reduce the dimensionality of the dataset by selecting relevant features or applying dimensionality reduction techniques (e.g., PCA) to improve computational efficiency or remove noise.\nData Formatting: Format the data in a way that is suitable for specific analysis or modeling tasks, such as reshaping data into long or wide formats or converting data types.\nData Enrichment: Enhance the dataset by incorporating additional external data sources or appending supplementary information to enrich the analysis.\nData Validation: Validate the integrity and quality of the processed data to ensure that it meets the desired standards and is ready for analysis or modeling.\n'