In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\DSBDAL\Ex1student performance\StudentsPerformance.csv")

In [5]:
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none        72.0           72.0           74.0
1                 completed        69.0           90.0           88.0
2                      none        90.0           95.0           93.0
3                      none        47.0           57.0           44.0
4                      none        76.0           78.0           75.0
..                      ...         ...            ...            ...
995               completed        88.0           99.0           95.0
996                    none        62.0           55.0           55.0
997               completed        59.0           71.0           65.0
998               completed        68.0           78.0           77.0
999                    none        77.0           86.0           86.0

[1000 rows x 8 columns]

In [6]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     2
reading score                  4
writing score                  2
dtype: int64

In [8]:
print(df.describe())

       math score  reading score  writing score
count  998.000000     996.000000     998.000000
mean    66.093186      69.186747      68.046092
std     15.177728      14.623079      15.208213
min      0.000000      17.000000      10.000000
25%     57.000000      59.000000      57.250000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.250000      79.000000
max    100.000000     100.000000     100.000000

In [9]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

In [10]:
df.dropna(axis=1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
4,male,group C,some college,standard,none
...,...,...,...,...,...
995,female,group E,master's degree,standard,completed
996,male,group C,high school,free/reduced,none
997,female,group C,high school,free/reduced,completed
998,female,group D,some college,standard,completed
999,female,group D,some college,free/reduced,none

In [11]:
y = df.iloc[:, 0:1]
print(y)

     gender
0    female
1    female
2    female
3      male
4      male
..      ...
995  female
996    male
997  female
998  female
999  female

[1000 rows x 1 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 0 0 1 1 0 0 1 1 0 1 1 0 1 0 0 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0 0 0 1 1 1 0
 0 0 1 1 0 0 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 1 0 1 1 1 0 0 1 1 0 1 0 0 1 0 1
 1 1 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1 1 0 0 1 0 0 0
 1 1 0 0 1 0 0 0 0 0 1 0 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 0 0 0 1 1 0 1 1
 0 1 1 1 0 1 1 0 0 1 0 1 1 0 1 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1
 1 1 1 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 1 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 0 1
 0 1 0 0 0 1 1 0 1 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 0 0 1 1 0 0 1 1 0 0 1 0
 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 1 0 0 0 1 1 1 0 0 0 1 1 0 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 0 1 0 1 1 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 1 0 1 1 1
 1 0 0 1 1 0 0 1 0 0 1 1 0 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 0 0 1 1 1 1 0 0
 1 0 1 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 1 0 1 0 0 0 0 1
 0 0 1 0 1 1 1 0 1 1 1 1 1 0 0 0 0 1 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 0 0 0
 1 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 1
 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0
 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1 0 0 0 1 0 1 0 1 1 1 0 1 1
 0 0 1 0 1 0 0 1 0 1 1 0 0 1 1 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 1 0 0 0 1 1 0 0 0 0 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1
 0 1 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 1 0 0 1 0
 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 1 0 1 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1
 0 0 1 1 1 1 0 1 0 0 1 0 0 1 0 0 1 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 1 1 0 1 1
 1 0 0 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 1 1 1 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 1 0 0 1 1 1 1 0 1
 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 1 1
 0 0 1 1 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 0 0 1 0 0 0 1
 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 1 0 1 0 1
 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 0 0 1 0 1 1 0 0 1 0 0
 0 0 1 0 1 1 0 0 0 1 0 0 0 0 1 1 1 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0
 0]

C:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
print(df['race/ethnicity'].value_counts())

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [14]:
df_Lunch = pd.get_dummies(df['lunch'])
df_new = pd.concat([df, df_Lunch], axis=1)
print(df_new)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  \
0                      none        72.0           72.0           74.0
1                 completed        69.0           90.0           88.0
2                      none        90.0           95.0           93.0
3                      none        47.0           57.0           44.0
4                      none        76.0           78.0           75.0
..                      ...         ...            ...            ...
995               completed        88.0           99.0           95.0
996                    none        62.0           55.0           55.0
997               completed        59.0           71.0           65.0
998               completed        68.0           78.0           77.0
999                    none        77.0           86.0           86.0

     free/reduced  standard
0           False      True
1           False      True
2           False      True
3            True     False
4           False      True
..            ...       ...
995         False      True
996          True     False
997          True     False
998         False      True
999          True     False

[1000 rows x 10 columns]

In [15]:
"""
This code seems to be performing several data preprocessing tasks on a dataset containing information about students' gender, race/ethnicity, parental level of education, lunch type, test preparation course, math score, reading score, and writing score.

Here's an explanation of each part of the code:

1. **Installation and Importing Libraries:**
   - The code starts with checking for the availability of the `pandas` library and its dependencies. If not installed, it suggests installing them. Then, it imports the necessary libraries (`pandas`).

2. **Loading the Dataset:**
   - The code reads a CSV file named "StudentsPerformance.csv" using the `pd.read_csv()` function from the `pandas` library and stores it in a DataFrame called `df`.

3. **Data Exploration:**
   - The code prints the first 15 rows of the DataFrame using `df.head(15)`.
   - It checks for missing values in the DataFrame using `df.isnull().sum()` and prints the sum of missing values for each column.
   - It prints the statistical summary of the numerical columns in the DataFrame using `df.describe()`.

4. **Data Types and Handling Missing Values:**
   - The code prints the data types of each column in the DataFrame using `df.dtypes`.
   - It drops columns with missing values using `df.dropna(axis=1)`.

5. **Encoding Categorical Variables:**
   - The code encodes categorical variables using `LabelEncoder` from `sklearn.preprocessing` to convert categorical labels into numeric labels. It applies this transformation specifically to the "race/ethnicity" column.

6. **Printing Value Counts:**
   - The code prints the count of unique values in the "race/ethnicity" column using `df['race/ethnicity'].value_counts()`.

7. **One-Hot Encoding:**
   - The code performs one-hot encoding on the "lunch" column using `pd.get_dummies()`, creating dummy variables for the categories "free/reduced" and "standard" and concatenating them to the DataFrame.

This code essentially loads a dataset, explores its structure and content, handles missing values, encodes categorical variables, and prepares the data for further analysis or modeling.

Data wrangling, also known as data munging or data preprocessing, refers to the process of cleaning, transforming, and enriching raw data into a format that is suitable for analysis or modeling. This process is crucial because real-world data is often messy, incomplete, or inconsistent, and it needs to be prepared before it can be effectively used for analysis or machine learning tasks. Here's an overview of the steps involved in data wrangling:

Data Collection: Obtain raw data from various sources such as databases, APIs, CSV files, or web scraping.
Data Cleaning:
Handle missing values: Identify missing data and decide how to handle them (e.g., imputation, deletion).
Remove duplicates: Identify and remove duplicate rows or records from the dataset.
Correct inaccuracies: Detect and correct errors or inaccuracies in the data.
Standardize data: Convert data into a consistent format (e.g., date formatting, unit conversion).
Data Transformation:
Feature engineering: Create new features or derive additional information from existing features to enhance the predictive power of the dataset.
Encoding categorical variables: Convert categorical variables into a numerical format suitable for machine learning algorithms (e.g., one-hot encoding, label encoding).
Scaling and normalization: Scale numerical features to ensure they have similar ranges or normalize them to a standard distribution.
Data aggregation: Aggregate data at different levels (e.g., group by, pivot tables) to generate summary statistics or create new datasets.
Data Integration: Combine data from multiple sources or datasets to create a unified dataset for analysis.
Data Reduction: Reduce the dimensionality of the dataset by selecting relevant features or applying dimensionality reduction techniques (e.g., PCA) to improve computational efficiency or remove noise.
Data Formatting: Format the data in a way that is suitable for specific analysis or modeling tasks, such as reshaping data into long or wide formats or converting data types.
Data Enrichment: Enhance the dataset by incorporating additional external data sources or appending supplementary information to enrich the analysis.
Data Validation: Validate the integrity and quality of the processed data to ensure that it meets the desired standards and is ready for analysis or modeling.
"""

'\nThis code seems to be performing several data preprocessing tasks on a dataset containing information about students\' gender, race/ethnicity, parental level of education, lunch type, test preparation course, math score, reading score, and writing score.\n\nHere\'s an explanation of each part of the code:\n\n1. **Installation and Importing Libraries:**\n   - The code starts with checking for the availability of the `pandas` library and its dependencies. If not installed, it suggests installing them. Then, it imports the necessary libraries (`pandas`).\n\n2. **Loading the Dataset:**\n   - The code reads a CSV file named "StudentsPerformance.csv" using the `pd.read_csv()` function from the `pandas` library and stores it in a DataFrame called `df`.\n\n3. **Data Exploration:**\n   - The code prints the first 15 rows of the DataFrame using `df.head(15)`.\n   - It checks for missing values in the DataFrame using `df.isnull().sum()` and prints the sum of missing values for each column.\n   - It prints the statistical summary of the numerical columns in the DataFrame using `df.describe()`.\n\n4. **Data Types and Handling Missing Values:**\n   - The code prints the data types of each column in the DataFrame using `df.dtypes`.\n   - It drops columns with missing values using `df.dropna(axis=1)`.\n\n5. **Encoding Categorical Variables:**\n   - The code encodes categorical variables using `LabelEncoder` from `sklearn.preprocessing` to convert categorical labels into numeric labels. It applies this transformation specifically to the "race/ethnicity" column.\n\n6. **Printing Value Counts:**\n   - The code prints the count of unique values in the "race/ethnicity" column using `df[\'race/ethnicity\'].value_counts()`.\n\n7. **One-Hot Encoding:**\n   - The code performs one-hot encoding on the "lunch" column using `pd.get_dummies()`, creating dummy variables for the categories "free/reduced" and "standard" and concatenating them to the DataFrame.\n\nThis code essentially loads a dataset, explores its structure and content, handles missing values, encodes categorical variables, and prepares the data for further analysis or modeling.\n\nData wrangling, also known as data munging or data preprocessing, refers to the process of cleaning, transforming, and enriching raw data into a format that is suitable for analysis or modeling. This process is crucial because real-world data is often messy, incomplete, or inconsistent, and it needs to be prepared before it can be effectively used for analysis or machine learning tasks. Here\'s an overview of the steps involved in data wrangling:\n\nData Collection: Obtain raw data from various sources such as databases, APIs, CSV files, or web scraping.\nData Cleaning:\nHandle missing values: Identify missing data and decide how to handle them (e.g., imputation, deletion).\nRemove duplicates: Identify and remove duplicate rows or records from the dataset.\nCorrect inaccuracies: Detect and correct errors or inaccuracies in the data.\nStandardize data: Convert data into a consistent format (e.g., date formatting, unit conversion).\nData Transformation:\nFeature engineering: Create new features or derive additional information from existing features to enhance the predictive power of the dataset.\nEncoding categorical variables: Convert categorical variables into a numerical format suitable for machine learning algorithms (e.g., one-hot encoding, label encoding).\nScaling and normalization: Scale numerical features to ensure they have similar ranges or normalize them to a standard distribution.\nData aggregation: Aggregate data at different levels (e.g., group by, pivot tables) to generate summary statistics or create new datasets.\nData Integration: Combine data from multiple sources or datasets to create a unified dataset for analysis.\nData Reduction: Reduce the dimensionality of the dataset by selecting relevant features or applying dimensionality reduction techniques (e.g., PCA) to improve computational efficiency or remove noise.\nData Formatting: Format the data in a way that is suitable for specific analysis or modeling tasks, such as reshaping data into long or wide formats or converting data types.\nData Enrichment: Enhance the dataset by incorporating additional external data sources or appending supplementary information to enrich the analysis.\nData Validation: Validate the integrity and quality of the processed data to ensure that it meets the desired standards and is ready for analysis or modeling.\n'